@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto+Condensed:wght@300&display=swap");
:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}
body {
  font-family: "Roboto Condensed", sans-serif;
}

/* ***************************Navbar************************************************** */
.logo {
  width: 10.25rem;
}

/*nav*/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  border-top: 0.1875rem solid var(--primary-dark);
  margin-riht: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}
.navbar-brand {
  max-width: 12.75rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}
